src/beathoven
src/_build
src/stdlib.ll
src/stdlib.cpp
test/scanner/tokenize
test/compiler/logs/*
test/compiler/logs/globallog.log
*.log

scanner.ml
parser.ml
parser.mli
stdlib.bc

*foo.bt
*foo.ll
*foo.c

*.cmi
*.cmo

*.cma
*.cmi
*.a
*.o
*.output
*.cmx
*.cmxs
*.cmxa

*.diff
out.*
ll.*
